{% extends 'base.html' %}


{% block content %}

    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">

                <div style="display: flex; align-items: center">
                    <span style="font-weight: bold; font-size: 3rem;">Password reset complete</span>
                </div>
                <br>
                <div>
                    Your new password has been set. Now you may go ahead and log in.
                </div>
                <br/>
                <div class="auth__alternative">
                    <a href="{% url 'login' %}" style="font-size: 18px">Log In</a>
                </div>

            </div>
        </div>
    </main>
{% endblock %}