{% extends 'base.html' %}

{% block content %}
    <style>
        input[type='text'],
        input[type='email'],
        input[type='password'] {
          min-width: 24rem;
          width: 100%;
          padding: 1.2rem 1.5rem;
          border-radius: 0.5rem;
          border: 2px solid var(--color-light);
          transition: all 0.3s ease-in-out;
          background-color: var(--color-bg);
        }

        input[type='text']:focus,
        input[type='email']:focus,
        input[type='password']:focus,
        input[type='text']:active,
        input[type='email']:active,
        input[type='password']:active,
        input[type='number']:active {
          outline: none;
          border: 2px solid var(--color-main);
        }
    </style>

    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">

                <div style="display: flex; align-items: center">
                    <span style="font-weight: bold; font-size: 3rem;">Type in your passwords</span>
                </div>

                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form__field">
                            <label for="formInput#text">{{ field.label }} </label>
                            {{ field }}

                            {% for error in field.errors %}
                                <small style="color: red; font-size: 14px">{{ error }}</small><br>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>

            </div>
        </div>
    </main>

{% endblock %}