{% extends 'base.html' %}

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <div style="display: flex; align-items: center">
                    <a class="backButton" href="{{ request.META.HTTP_REFERER }}"><i class="im im-angle-left"></i></a>

                    <span style="font-weight: bold; font-size: 3rem; margin-left: 2rem">
                        {% if form.instance.title %}
                            {{ form.instance.title }}
                        {% else %}
                            Create project
                        {% endif %}
                    </span>
                </div>
                <br>

                <form class="form" method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form__field">
                        <label for="formInput#text">{{ field.label }} </label>
                        {{ field }}
{#                        <input class="input input--text" id="formInput#text" type="text" name="text"#}
{#                            placeholder="" />#}
                    </div>

                    {% endfor %}

                    <div class="form__field">
                        <label for="formInput#text">Tags</label>
                        <textarea class="input" name="new_tags" id="" cols="30" rows="5" placeholder="Add new tags"></textarea>
                    </div>

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>

{% endblock %}