{% extends 'base.html' %}

{% block content %}
    <!-- Main Section -->
    <main class="singleProject my-md">
        <div class="container">
            <div class="layout">
                <div class="column column--1of3">
                    <h3 class="singleProject__subtitle">Tools & Stacks</h3>
                    <div class="singleProject__toolStack">

                        {% for tag in project.tags.all %}
                            <span class="tag tag--pill tag--sub tag--lg">
                                <small>{{ tag.name }}</small>
                            </span>
                        {% endfor %}
                    </div>

                    {% if project.source_link %}
                        <a class="singleProject__liveLink" href="{{ project.source_link }}" target="_blank">
                            Source Code
                        </a>
                    {% endif %}

                    {% if project.demo_link %}
                        <a class="singleProject__liveLink" href="{{ project.demo_link }}" target="_blank">
                            Demo Code
                        </a>
                    {% endif %}
                </div>
                <div class="column column--2of3">
                    <img class="singleProject__preview" src="{{ project.image_url }}" alt="portfolio thumbnail" />
                    <a href="{% if project.owner %}{% url 'user-profile' project.owner.id %}{% endif %}" class="singleProject__developer">
                        {% if project.owner %}
                            {{ project.owner.user.username }}
                        {% else %}
                            Unknown author
                        {% endif %}
                    </a>
                    <h2 class="singleProject__title">{{ project.title }}</h2>
                    {% if project.description %}
                        <h3 class="singleProject__subtitle">About the Project</h3>
                        <div class="singleProject__info">
                            {{ project.description }}
                        </div>
                    {% endif %}
                    <div class="comments">
                        <h3 class="singleProject__subtitle">Feedbacks</h3>
                        <h5 class="project--rating">
                            {{ project.vote_ratio }}% Positive Feedbacks ({{ project.vote_total }} Votes)
                        </h5>

                        {% if request.user.profile.id in project.get_reviewers %}
                            <div>You have already submitted a review</div>
                        {% elif request.user.profile == project.owner %}
                            <div>You cannot review your own work</div>
                        {% elif not request.user.is_authenticated %}
                            <div><a href="{% url 'login' %}?next={{ request.path }}">Please login to leave a review</a></div>
                        {% else %}
                            <form class="form" action="{% url 'project' project.id %}" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form__field">
                                        <label for="formInput#textarea">{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                <input class="btn btn--sub btn--lg" type="submit" value="Comment" />
                            </form>
                        {% endif %}

                        <div class="commentList">
                            {% for review in project.review_set.all %}

                                {% if review.body %}
                                    <div class="comment">
                                        <a href="{% url 'user-profile' review.owner_id %}">
                                        <img class="avatar avatar--md"
                                            src="{{ review.owner.image.url }}" alt="user" />
                                        </a>
                                        <div class="comment__details">
                                            <a href="{% url 'user-profile' review.owner_id %}" class="comment__author">{{ review.owner.username }}</a>
                                            <p class="comment__info">
                                                {{ review.body|linebreaksbr }}
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}








{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#    <div style="margin-bottom: 2rem">#}
{#        <h3><a href="{% url 'project' project.id %}">{{ project.title }}</a></h3>#}
{#        <p>{{ project.description }}</p>#}
{#        <p>{{ project.vote_total }} votes with {{ project.vote_ratio }}% vote ratio</p>#}
{#    </div>#}
{##}
{#    {% for tag in project.tags.all %}#}
{#        <span style="border: 2px solid gray; border-radius: 5px">#}
{#            {{ tag.name }}#}
{#        </span>#}
{#    {% endfor %}#}
{##}
{#    <div>#}
{#        <img src="{{ project.featured_image.url }}" alt="" style="width: 200px; height: auto;">#}
{#    </div>#}
{#{% endblock %}#}